{% load static %}
<div class="single-sidebar-widget user-info-widget d-flex flex-column align-items-center justify-content-center text-center">
    <img src="{% static 'img/blog/user-info.jpg' %}" alt="" />
    <a href="#"><h6>Afsaneh Hassani</h6></a>
    <p>Senior blog writer</p>
    <ul class="social-links">
        <div class="h6 fw-bolder">Follow us</div>
        <a class="fs-5 px-2 link-dark" href="#!"><i class="bi-twitter"></i></a>
        <a class="fs-5 px-2 link-dark" href="#!"><i class="bi-facebook"></i></a>
        <a class="fs-5 px-2 link-dark" href="#!"><i class="bi-linkedin"></i></a>
        <a class="fs-5 px-2 link-dark" href="#!"><i class="bi-youtube"></i></a>
    </ul>
    <p>Boot camps have its supporters andit sdetractors.</p>
</div>